<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Pachyderm Presentation</title> 
<SCRIPT LANGUAGE=JavaScript>
	function closeWindow() { 
		newWindow.close();
	}
	function openNewWindow(URLtoOpen){
		newWindow=window.open(URLtoOpen,'thewin','height=270,width=330,toolbar=no,resizable=yes,scrollbars=yes');
	}
</SCRIPT>
</head>
<body bgcolor="#a7bccc">
<!--url's used in the movie-->
<!--text used in the movie-->
<div align="center">
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="790" height="540" id="root" align="middle">
		<param name="allowScriptAccess" value="sameDomain" />

		<param name="movie" value="root.swf" />
		<param name="quality" value="high" />
		<param name="bgcolor" value="#ffffff" />
		<embed src="root.swf" quality="high" bgcolor="#ffffff" width="790" height="540" name="root" align="middle" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>
</div>
</body>
</html>

