<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Pachyderm Presentation</title> 
<SCRIPT LANGUAGE=JavaScript>
	function openNewWindow(URLtoOpen, windowName, windowFeatures) { 
	  newWindow=window.open(URLtoOpen, windowName, windowFeatures);
	}
	function closeWindow() { 
	  newWindow.close();
	}
</SCRIPT>
<style type="text/css" media="screen">
a {
font-family: Verdana, Arial, Helvetica, sans-serif;
}
a:link {
font-weight: normal;
text-decoration: normal;
color: #993333;
}
a:visited {
font-weight: normal;
text-decoration: normal;
color: #993333;
}
a:hover, a:active {
font-weight: normal;
text-decoration: underline;
color: #336699;
}
</style>
</head>
<body bgcolor="#CFCABA">
<!--url's used in the movie-->
<!--text used in the movie-->
<div align="center">
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="790" height="540" id="root" align="middle">
		<param name="allowScriptAccess" value="sameDomain" />

		<param name="movie" value="root.swf" />
		<param name="quality" value="high" />
		<param name="bgcolor" value="#CFCABA" />
		<embed src="root.swf" quality="high" bgcolor="#CFCABA" width="790" height="540" name="root" align="middle" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>
	<p><a href="http://www.glenbow.org/mavericks/">Home</a> |<a href="http://www.glenbow.org/mavericks/"> English/Francais</a> | <a href="http://www.glenbow.org/mavericks/teacher/english/index.html">Teacher Resources</a> | <a href="http://www.glenbow.org/mavericks/credits.htm">Credits</a> | <a href="http://www.glenbow.org/mavericks/comments.htm">Comments</a></p>
	<p>&copy; <a href="http://www.glenbow.org/mavericks/copyright.htm">Copyright Glenbow Museum, 2005. All Rights Reserved</a></p>
</div>
</body>
</html>

